@model Proiect.Models.Group


<h2>Adaugare grup</h2>
<br />


@using (Html.BeginForm(actionName: "New", controllerName: "Groups", method: FormMethod.Post))
{
    @Html.Label("GroupName", "Numele grupului")
    <br />
    @Html.TextBox("GroupName", null, new { @class = "form-control" })
    @Html.ValidationMessage("GroupName", null, new { @class = "text-danger" })
    <br /> <br />

    @Html.Label("Description", "Descrierea grupului")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    <br /> <br />


    <button class="btn btn-primary" type="submit">Adauga grupul</button>
}
