<h2>Afisare postari</h2>
<br />


<div class="d-flex justify-content-center ">

    <a href="/Categories/Index" class="btn btn-primary">Afisare categorii</a>
    <br /> 
    <a href="/Groups/Index" class="btn btn-primary">Afisare grupuri</a>
    <br />
    <a href="/Posts/New" class="btn btn-primary">Adauga postare</a>
    <br />

</div>

<br />

@foreach(var post in ViewBag.Posts)
{
    <div class="card">

        <div class="card-body">

            <div class="alert-primary">@post.Title</div>

            <div class="card-text">@post.Content</div>

            @*
        Adaugat vizualizare user
        *@

            @if (post.User != null)
            {
                <div class="card-text">   <i class="bi bi-person-workspace">   </i>   @post.User.UserName</div>
            }

            <div class="d-flex flex-row justify-content-between mt-5">
                
                <div><i class="bi bi-tag"></i> @post.Category.CategoryName</div>
                <a href="/Posts/Show/@post.Id" class="btn btn-outline-primary">Afisare postare</a>
                <span class="alert-primary">@post.Date</span>
            
            </div>

        </div>

    </div>

    <br />
    <br />
}