@model IEnumerable<Proiect.Models.Post>

@{
    var _currentPage = (int)ViewBag.CurrentPage;
    var _perPage = (int)ViewBag.PerPage;
    var _totalItems = (int)ViewBag.TotalItems;
    var _totalPages = (int)Math.Ceiling((decimal)_totalItems / _perPage);
}

<div class="d-flex justify-content-center">

    <a href="/Posts/New" class="btn btn-primary">Adauga postare</a>

</div>

<br />


<h2>Afisare postari</h2>
<br />


<form action="/Posts/Index">

    <div class="input-group">
        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categ, "Value", "Text"), "Filtreaza dupa categorie", new { @class = "form-control" })
        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
    </div>

</form>

<br /> <br />

<h3 class="alert-primary">@ViewBag.Msg</h3>

<br />


@foreach(Proiect.Models.Post post in ViewBag.Posts)
{
     <div class="card">
         
        @Html.Partial("PostInfo", post)

        <div class="card-body d-flex justify-content-center">

            <a href="/Posts/Show/@post.Id" class="btn btn-outline-primary">Afisare postare</a>

        </div>

    </div>
    
    <br />
    <br />
    <br />  
    

}

@Html.Partial("Pagination")

@*
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(_currentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", "Posts", new { page = _currentPage - 1 })">Previous</a>
            </li>
            @for (int i = 1; i <= _totalPages; i++)
            {
                <li class="page-item @(_currentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", "Posts", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(_currentPage == _totalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", "Posts", new { page = _currentPage + 1 })">Next</a>
            </li>
        </ul>
    </nav>

</div>
*@