@model Proiect.Models.Post

<h2>Adaugare postare</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Posts", method: FormMethod.Post))
{
        @Html.Label("Title", "Titlul postarii")
        <br />
        @Html.TextBox("Title", null, new { @class = "form-control" })
        @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
        <br /> <br />

        @Html.Label("Content", "Continutul postarii")
        <br />
        @Html.TextArea("Content", null, new { @class = "form-control" })
        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
        <br /> <br />

        @Html.Label("CategoryId", "Selectati categoria")
        <br />
        @Html.DropDownList("CategoryId", new SelectList(Model.Categ, "Value", "Text"), "Categorii", new { @class = "form-control" })
        @Html.ValidationMessage("CategoryId", null, new { @class = "text-danger" })
        <br />  <br />

        @Html.Hidden("GroupId");

        <button class="btn btn-primary" type="submit">Adauga postarea</button>
}    
