@model Proiect.Models.Post


<div class="d-flex justify-content-center ">

    <a href="/Posts/New" class="btn btn-primary">Adauga postare</a>

</div>

<br />


<h3 class="alert-primary">@ViewBag.Msg</h3>
<br />

<div class="card">

    @Html.Partial("PostInfo", Model)

    @if(ViewBag.AfisareButoane || ViewBag.UserCurent== Model.UserId)
    {
        <div class="card-body d-flex justify-content-center">

            <a href="/Posts/Edit/@Model.Id" class="btn btn-outline-primary">Editeaza postarea</a>

            <form method="post" action="/Posts/Delete/@Model.Id">

                <button class="btn btn-outline-danger" type="submit">Sterge postarea</button>

            </form>

        </div>
    }

</div>

<br />
<br />
<br />


@* Afisare comentarii *@

@foreach (var comm in ViewBag.Comments)
{
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <p>@comm.Content</p>

                <div class="d-flex justify-content-between">
                    <div class="com">
                        <a href="/ApplicationUsers/Show/@comm.UserId"><i class="bi bi-person-bounding-box"></i>  @comm.User.UserName</a>
                        <small>@comm.Date</small>
                    </div>
                    
                    @if (ViewBag.AfisareButoane || ViewBag.UserCurent == comm.UserId)
                    {
                        <div class="d-flex">

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i></a>

                            <form method="post" action="/Comments/Delete/@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i></button>

                            </form>

                        </div>

                    }
                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>

    <br />
    <br />
}

<br />
<br />
<br />



@* Afisarea formularului in care se poate adauga un comentariu *@

@if (ViewBag.AfisareForm)
{
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" action="/Comments/New">

                        <div class="card-body">

                            <input type="hidden" name="PostId" value="@Model.Id" />

                            <textarea class="form-control" name="Content" placeholder="Continutul comentariului"></textarea>
                            <br />

                            <button class="btn btn-primary" type="submit">Adauga comentariul</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}
