@model Proiect.Models.Category

<h2>Editare categorie</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Categories", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.Label("CategoryName", "Numele Categoriei")
    <br />
    @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessage("CategoryName", null, new { @class = "text-danger" })
    <br /> <br />

    @Html.Label("Description", "Descriere")
    <br />
    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
    <br /> <br />


    <button class="btn btn-primary" type="submit">Modifica categoria</button>
}

